# Language Filtering

User [Langid](https://github.com/saffsd/langid.py) to classify tweets that got past our SQL query.


Postgres -> Pandas:
> dataframe = psql.read_sql("SELECT * FROM ", connection)

In [68]:
import os
from dotenv import find_dotenv, load_dotenv
import psycopg2 as pg
import pandas.io.sql as psql
import pandas as pd
import time

In [2]:
# Load variables from .env, connect to DB
load_dotenv(find_dotenv())
database_url = os.environ.get('DATABASE_URL')

conn = pg.connect(database_url)
curr = conn.cursor()

Count how many tweets we have total.

### Language

> SELECT COUNT(CustomerID), Country
>
> FROM Customers
>
> GROUP BY Country
> 
> ORDER BY COUNT(CustomerID) DESC

In [3]:
# count languages
# dataframe = psql.read_sql("SELECT * FROM ", connection)

lang_sql = """SELECT language, COUNT(language) FROM raw_tweets GROUP BY language ORDER BY COUNT(language) DESC;"""
lang_df = psql.read_sql(lang_sql, conn)

print ('Unique langs: {}'.format(lang_df['language'].unique()))
lang_df.head(30)

Unique langs: ['en' 'ar' 'fr' 'es' 'id' 'en-gb' 'de' 'tr' 'nl' 'ru' 'it' 'pt' 'en-GB'
 'sv' 'ja' 'ca' 'pl' 'he' 'da' 'th' 'fi' 'ko' 'hi' 'el' 'no' 'fa' 'zh-cn'
 'cs' 'hu' 'msa' 'en-AU' 'ro' 'zh-CN' 'hr' 'gl' 'xx-lc' 'vi' 'zh-tw' 'eu'
 'nb' 'sr' 'uk' 'ur' 'zh-TW' 'en-IN' 'lv' 'bg' 'es-MX' 'sk' 'in' 'fil'
 'ga' 'ms' 'ta' 'bn' 'kn' 'mr' 'zh-Hans' 'cy' 'en-US' 'pt-PT' 'gu' 'fr-CA'
 'sq' 'pa' 'sl' 'zh-Hant' 'af' 'sw' 'lt' 'zh-HK' 'EN' 'en-SS' 'TR' 'lolc'
 'be' 'az' 'ckb' 'et' 'so' 'en-CA' 'zh' 'ae' 'ku' 'ld' 'pt-BR' 'is' 'zz'
 'de-AT' 'mk' 'ml' 'mn' 'uz' 'ka' 'co' 'ht' 'to' 'am' 'en-ss' 'haw' 'jv'
 'nl-BE' 'gsw' 'bs' 'my' 'ig' 'us' 'az-Cyrl' 'de-CH' 'nap' 'pa-Arab' None]

   language      count
0        en  233624341
1        ar  176246762
2        fr   13745440
3        es   10557995
4        id    8175217
5     en-gb    4442070
6        de    3053145
7        tr    2504156
8        nl    2417177
9        ru    1110983
10       it     999338
11       pt     944634
12    en-GB     882577
13       sv     531650
14       ja     495201
15       ca     328373
16       pl     293685
17       he     129120
18       da     123081
19       th      94836
20       fi      87769
21       ko      86117
22       hi      73327
23       el      68202
24       no      63796
25       fa      61998
26    zh-cn      60497
27       cs      58109
28       hu      34403
29      msa      30309

In [4]:
lang_df.language.sort_values().unique()

array(['EN', 'TR', 'ae', 'af', 'am', 'ar', 'az', 'az-Cyrl', 'be', 'bg',
       'bn', 'bs', 'ca', 'ckb', 'co', 'cs', 'cy', 'da', 'de', 'de-AT',
       'de-CH', 'el', 'en', 'en-AU', 'en-CA', 'en-GB', 'en-IN', 'en-SS',
       'en-US', 'en-gb', 'en-ss', 'es', 'es-MX', 'et', 'eu', 'fa', 'fi',
       'fil', 'fr', 'fr-CA', 'ga', 'gl', 'gsw', 'gu', 'haw', 'he', 'hi',
       'hr', 'ht', 'hu', 'id', 'ig', 'in', 'is', 'it', 'ja', 'jv', 'ka',
       'kn', 'ko', 'ku', 'ld', 'lolc', 'lt', 'lv', 'mk', 'ml', 'mn', 'mr',
       'ms', 'msa', 'my', 'nap', 'nb', 'nl', 'nl-BE', 'no', 'pa',
       'pa-Arab', 'pl', 'pt', 'pt-BR', 'pt-PT', 'ro', 'ru', 'sk', 'sl',
       'so', 'sq', 'sr', 'sv', 'sw', 'ta', 'th', 'to', 'tr', 'uk', 'ur',
       'us', 'uz', 'vi', 'xx-lc', 'zh', 'zh-CN', 'zh-HK', 'zh-Hans',
       'zh-Hant', 'zh-TW', 'zh-cn', 'zh-tw', 'zz', None], dtype=object)

In [5]:
lang_df.iloc[:]

    language      count
0         en  233624341
1         ar  176246762
2         fr   13745440
3         es   10557995
4         id    8175217
5      en-gb    4442070
6         de    3053145
7         tr    2504156
8         nl    2417177
9         ru    1110983
10        it     999338
11        pt     944634
12     en-GB     882577
13        sv     531650
14        ja     495201
15        ca     328373
16        pl     293685
17        he     129120
18        da     123081
19        th      94836
20        fi      87769
21        ko      86117
22        hi      73327
23        el      68202
24        no      63796
25        fa      61998
26     zh-cn      60497
27        cs      58109
28        hu      34403
29       msa      30309
..       ...        ...
82        ae         13
83        ku          9
84        ld          8
85     pt-BR          7
86        is          6
87        zz          5
88     de-AT          4
89        mk          4
90        ml          4
91        mn          4
92        uz          4
93        ka          4
94        co          3
95        ht          3
96        to          2
97        am          2
98     en-ss          2
99       haw          2
100       jv          2
101    nl-BE          2
102      gsw          2
103       bs          2
104       my          1
105       ig          1
106       us          1
107  az-Cyrl          1
108    de-CH          1
109      nap          1
110  pa-Arab          1
111     None          0

[112 rows x 2 columns]

In [6]:
# count languages from filtered tweets
# dataframe = psql.read_sql("SELECT * FROM ", connection)

filter_lang_sql = """SELECT language, COUNT(language) FROM filter_tweets GROUP BY language ORDER BY COUNT(language) DESC;"""
filter_lang_df = psql.read_sql(filter_lang_sql, conn)

print ('Unique langs: {}'.format(filter_lang_df['language'].unique()))
filter_lang_df.head(10)

Unique langs: ['en' 'en-gb' 'en-GB' 'en-AU' 'en-IN' 'en-US' 'en-CA' 'en-SS']

  language     count
0       en  17006754
1    en-gb    420433
2    en-GB     43971
3    en-AU      2252
4    en-IN        74
5    en-US        24
6    en-CA         1
7    en-SS         1

---

#### Messages fit in memory?

In [9]:
!cat ../src/data/createdb.sql

CREATE TABLE IF NOT EXISTS "raw_tweets" (
    "id" SERIAL NOT NULL,
    "tweetID" BIGINT NOT NULL,
    "date" TIMESTAMP,
    "message" TEXT,
    "username" TEXT,
    "userID" BIGINT NOT NULL,
    "language" VARCHAR(10),
    "longitude" FLOAT,
    "latitude" FLOAT,
    "retweet" TEXT,
    CONSTRAINT raw_tweets_pk PRIMARY KEY ("id")
) WITH ( OIDS=FALSE );
CREATE TABLE IF NOT EXISTS "filter_tweets" (
    "id" SERIAL NOT NULL,
    "tweetID" BIGINT NOT NULL,
    "date" TIMESTAMP,
    "message" TEXT,
    "username" TEXT,
    "userID" BIGINT NOT NULL,
    "language" VARCHAR(10),
    "longitude" FLOAT,
    "latitude" FLOAT,
    "retweet" TEXT
) WITH ( OIDS=FALSE );
ALTER TABLE "filter_tweets" ADD CONSTRAINT "filter_fk0" FOREIGN KEY ("id") REFERENCES "raw_tweets"("id");

In [8]:
#dataframe = psql.read_sql("SELECT * FROM ", connection)
messages_query = """SELECT "tweetID", "message" FROM filter_tweets;  """
messages_df = psql.read_sql(messages_query, con=conn)

print ('mem usage:\t{}'.format(messages_df.memory_usage()))
messages_df.head(20)

mem usage:	Index             80
tweetID    139788080
message    139788080
dtype: int64

               tweetID                                            message
0   826251002722521089  It's getting really frustrating that my school...
1   826251003297140736  thisisBS  this taxpayer DOESNOT WANT TO PAY FO...
2   826251004370890752  LIVE NOW: Senate hearing on Jack Lam and the B...
3   826251004832256000                                        Ridiculous!
4   826251005352357892  Acting Attorney General Orders Justice Dept. N...
5   826251005683642368  Hill staffers secretly worked on Trump's immig...
6   826251006191116288  refugee programs ? Send them to Guatamala;mexi...
7   826251007831187457    Interesting:  how do I cancel all my  services?
8   826251007889907714  If you mean it; stop advertising on the hate s...
9   826251007982182400  .  you coward! What is your stance on the refu...
10  826251008078589952                                   So not surprised
11  826251008212865026      اللهم منزل الكتاب سريع الحساب اهزم الأحزاب ♻️
12  826251008271667200                                              Wowza
13  826251008535846912  lol aww uber is this because your services too...
14  826251009202626560  Yale responds to Trump’s executive order on im...
15  826251009852919808  We’ve been this stupid on immigration before —...
16  826251010175807488  islam's founder mohammed was a child-rapist; p...
17  826251010884640768  Using terrorist act by white nationalist Trump...
18  826251011857715200  refugees love America because they get free he...
19  826251012335767552  For MIT and Carnegie Mellon presidents; the im...

### Language Identifier

1. Filter emoticons, links, etc from messages. (*Don't lemmatize or stem, as we want as much natural text as possible for the LangID classifier*)
2. Create two columns as the langID classified language and probability.
3. Gather tweetID's of those who are not English tweets. 
4. Save to file???
5. Drop rows from filter `where tweetID IS IN VALUES([...])`

In [53]:
#%run ../src/utils/twokenize.py
%run ../src/utils/process_twitter_langid.py

import langid

In [27]:
messages_df['message'].iloc[0]

"It's getting really frustrating that my school has almost no other Muslims and I'm pretty sure I'm the only Muslim in my department"

In [28]:
langid.classify("It's getting really frustrating that my school has almost no other Muslims and I'm pretty sure I'm the only Muslim in my department")

('en', -337.46013283729553)

In [55]:
import numpy as np
from multiprocessing import cpu_count, Pool
 
cores = 8 #Number of CPU cores on your system
partitions = cores #Define as many partitions as you want
 
def parallelize(data, func):
    data_split = np.array_split(data, partitions)
    pool = Pool(cores)
    data = pd.concat(pool.map(func, data_split))
    pool.close()
    pool.join()
    return data

In [45]:
test_df = messages_df.iloc[:1000]

# test_df['langid'], test_df['prob'] = parallelize(test_df['message'], langid.classify)

# test_df['langid'] = parallelize(test_df['message'], langid.classify)

#test_df['langid'], test_df['prob'] = test_df['message'].apply(lambda x: langid.classify(x))
# too many values to unpack (expected 2)

test_df['langid'] = test_df['message'].apply(lambda x: langid.classify(x))

/home/rlrson/minicond3/envs/immigration-sentiment/lib/python3.6/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

In [62]:
def langid_classifier(x):
    cleaned = clean_tweet(x)
    return langid.classify(cleaned)[0]

test_df['langid'] = test_df['message'].apply(lambda x: langid_classifier(x))

/home/rlrson/minicond3/envs/immigration-sentiment/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [63]:
test_df.head(20)

,tweetID,message,langid
0,826251002722521089,It's getting really frustrating that my school...,en
1,826251003297140736,thisisBS this taxpayer DOESNOT WANT TO PAY FO...,en
2,826251004370890752,LIVE NOW: Senate hearing on Jack Lam and the B...,en
3,826251004832256000,Ridiculous!,en
4,826251005352357892,Acting Attorney General Orders Justice Dept. N...,en
5,826251005683642368,Hill staffers secretly worked on Trump's immig...,en
6,826251006191116288,refugee programs ? Send them to Guatamala;mexi...,en
7,826251007831187457,Interesting: how do I cancel all my services?,en
8,826251007889907714,If you mean it; stop advertising on the hate s...,en
9,826251007982182400,. you coward! What is your stance on the refu...,en
10,826251008078589952,So not surprised,en
11,826251008212865026,اللهم منزل الكتاب سريع الحساب اهزم الأحزاب ♻️,ar
12,826251008271667200,Wowza,pl
13,826251008535846912,lol aww uber is this because your services too...,en
14,826251009202626560,Yale responds to Trump’s executive order on im...,en
15,826251009852919808,We’ve been this stupid on immigration before —...,en
16,826251010175807488,islam's founder mohammed was a child-rapist; p...,en
17,826251010884640768,Using terrorist act by white nationalist Trump...,en
18,826251011857715200,refugees love America because they get free he...,en
19,826251012335767552,For MIT and Carnegie Mellon presidents; the im...,en

In [66]:
test_df[test_df.langid != 'en'].tweetID.tolist()

[826251008212865026,
 826251008271667200,
 826251012532998144,
 826251014416248832,
 826251023622733827,
 826251028521693184,
 826251036155322368,
 826251038382501892,
 826251046460612608,
 826251058028625921,
 826251060788477952,
 826251067864276994,
 826251070573727744,
 826251073413382146,
 826251074742915073,
 826251080514338817,
 826251084997939201,
 826251085006327809,
 826251086730231808,
 826251087610933248,
 826251090819739648,
 826251091620671488,
 826251101859115008,
 826251103239041024,
 826251107970273281,
 826251109656363008,
 826251110671380484,
 826251112747585536,
 826251114622418944,
 826251118619553792,
 826251124495810562,
 826251125498245120,
 826251126370684929,
 826251128652173312,
 826251129038262272,
 826251130661396485,
 826251134239174656,
 826251135686152192,
 826251136759894016,
 826251137321799685,
 826251144057888769,
 826251144485863425,
 826251145840582656,
 826251155625877507,
 826251159182663680,
 826251168317833221,
 826251171010588672,
 826251173011283968,
 826251173875351553,
 826251175402098689,
 826251176169529344,
 826251180019814400,
 826251183975235584,
 826251185543720960,
 826251187695529985,
 826251188706217984,
 826251195660509188,
 826251196495233024,
 826251197304627202,
 826251201347923968,
 826251204053184512,
 826251205345054720,
 826251209132503040,
 826251210013433856,
 826251212378869760,
 826251212743917568,
 826251213234659329,
 826251213402423297,
 826251220809609217,
 826251222122328064,
 826251225096151040,
 826251227948339201,
 826251230905241603,
 826251233363099648,
 826251238618562560,
 826251238627012609,
 826251240245862401,
 826251251826487297,
 826251254611324930,
 826251255466975233,
 826251259967451136,
 826251260403838977,
 826251265218904065,
 826251268679143424,
 826251271359311874,
 826251272827330562,
 826251274265952256,
 826251275629010944,
 826251283757674497,
 826251287394136065,
 826251289680023553,
 826251299578593280,
 826251299775672322,
 826251301390462976,
 826251303055679489,
 826251313478524930,
 826251313935626241,
 826251318310342660,
 826251321414135812,
 826251326564687873,
 826251327609139200,
 826251329043435520,
 826251333950963712,
 826251342368878592,
 826251342549307394,
 826251352615559168,
 826251355958358020,
 826251357422231552,
 826251360140148737,
 826251361943707649,
 826251363722092544,
 826251364187652096,
 826251365747933184,
 826251370424520705,
 826251370932088832,
 826251372131708930,
 826251372362358784,
 826251380478316545,
 826251382906707968,
 826251390435614721,
 826251391186370561,
 826251398119579648,
 826251403802841089,
 826251404452864001,
 826251408999542785,
 826251410161410049,
 826251412443168768,
 826251412501835776,
 826251413848154118,
 826251416985497600,
 826251422253477888,
 826251432785440769,
 826251437428588544,
 826251441002135552,
 826251441408995328,
 826251441887125504,
 826251444256985092,
 826251444537872384,
 826251444625960961,
 826251447587069952]

In [ ]:
start = time.time()
messages_df['langid'] = messages_df['message'].apply(lambda x: langid_classifier(x))
end = time.time()

print ('Elapsed:\t{}'.format(end - start))